section {
  position: relative;
  background-color: green;
}

.container {
  /* position: relative; */
  background-color: #f7e6c1;
  width: 300px;
  height: 600px;
  margin-inline-start: 50px;
}

.element {
  position: absolute;
  right: -30px;
  bottom: 100px;

  background-color: #f4b33f;
  width: 150px;
  height: 80px;
}
.bg-red {
  background-color: red;
}
.my-element {
  z-index: 1;
  bottom: auto;
  /* top: 100px; */
  top: auto;
  right: auto;
}
