html {
  font-size: 100%;
}

.flex-container {
  background-color: #f7e6c1;
  height: 500px;
  width: 70%;
  /* -*********************- */
  /* * Flex container properties * */

  /* Enable flexbox context */
  display: flex;

  /* Separation */
  gap: 2rem;

  /* Cross Axis Alignment */
  align-items: center;

  /* Main Axis alignment */
  /* justify-content: flex-end; */

  /* Direction */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* Wrapping (Envolver y bajar elementos que se desbordan del contenedor) */
  /* flex-wrap: wrap */
}

.flex-item {
  height: 55px;
  width: 100px;
  background-color: #f4b33f;
  border: 1px solid black;

  /* -*********************- */
  /* * Flexitem properties * */
  /* Shriking */
  /* flex-shrink: 0 */

  /* Growing */
  flex-grow: 1;

  /* 
    Initial item size
    - Defaults to content size or width/height if set.
   */
  flex-basis: auto; /* -> default value */
  /* flex-basis: 100%; */

  /* Shorthand (Forma corta) */
  /* Syntax 
    flex: flex-grow flex-shrink flex-basis */
  flex: 0 1 auto; /* -> default value */
  /* 
    flex: 1; 
    ⬇️
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  */

  /* Self alignment */
  align-self: auto; /* -> default value */

  /* Order */
  order: 0; /* -> default value */
}

.flex-item:nth-child(1) {
  background-color: red;
  transition: background-color 700ms;
  order: 1;
}

.flex-item:nth-child(1):hover {
  background: magenta;
}

.flex-item:nth-child(2) {
  background-color: blue;
  /* flex-grow: 3; */
}

.flex-item:nth-child(3) {
  background-color: green;
  align-self: flex-start;
}

.flex-item:nth-child(4) {
  background-color: purple;
}

.flex-item:nth-child(5) {
  background-color: yellow;
  order: -1;
}
